@tailwind base;
@tailwind components;
@tailwind utilities;




/* Resposnsive */

@media (max-width:1400px){
    
  
    .HeaderTop-Content{
        max-width: 1150px;
        justify-content: space-between;
        margin: auto;
    }
    
}

@media (max-width:1200px){
    .HeaderTop-Content{
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 30px;
    }

    .HeaderTop-Content .HeaderTitle ,
    .HeaderTop-Content .HeaderTitle a{
       align-items: center;
       justify-content: center;
       gap: 30px;
   
    }

    .HeaderTop-Content .Header-icons {
        align-items: center;
        justify-content: center;
        right: 10px;    
    }
    
    .HeaderTop-Content .HeaderTitle p{
        font-size: 14px;
        text-align: center;
   
    }
    
}


@media (max-width:992px){
    .HeaderTop-Content{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }

    .HeaderTop-Content .HeaderTitle ,
    .HeaderTop-Content .HeaderTitle a{
       align-items: center;
       justify-content: center;
       gap: 30px;
   
    }

    .HeaderTop-Content .Header-icons {
        align-items: center;
        justify-content: center;
        right: 10px;    
    }
    
    .HeaderTop-Content .HeaderTitle p{
        font-size: 14px;
        text-align: center;
   
    }
    
}

@media (max-width:768px){
    .HeaderTop-Content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 20px;
    }

    .HeaderTop-Content .HeaderTitle ,
    .HeaderTop-Content .HeaderTitle a{
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 30px;
   
    }

    .HeaderTop-Content .Header-icons {
        align-items: center;
        justify-content: center;
        right: 10px;    
    }
    
    .HeaderTop-Content .HeaderTitle p{
        font-size: 14px;
        text-align: center;
   
    }
    
}

@media (max-width:576px){
    .HeaderTop-Content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 20px;
    }

    .HeaderTop-Content .HeaderTitle ,
    .HeaderTop-Content .HeaderTitle a{
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 30px;
   
    }

    .HeaderTop-Content .Header-icons {
        align-items: center;
        justify-content: center;
        right: 10px;    
    }
    
    .HeaderTop-Content .HeaderTitle p{
        font-size: 14px;
        text-align: center;
   
    }
    
}

@media (max-width:360px){
    .HeaderTop-Content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 20px;
    }

    .HeaderTop-Content .HeaderTitle ,
    .HeaderTop-Content .HeaderTitle a{
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 30px;
   
    }

    .HeaderTop-Content .Header-icons {
        align-items: center;
        justify-content: center;
        right: 10px;    
    }
    
    .HeaderTop-Content .HeaderTitle p{
        font-size: 14px;
        text-align: center;
   
    }
    
}

