@tailwind base;
@tailwind components;
@tailwind utilities;



@media (max-width:1400px){
    .OurPrinciples-container{
        justify-content: center;
        align-items: center;
    
    }

    .OurPrinciplesBoxs{
        justify-content: center;
    }

    .OurPrinciplesBox{
        padding: 40px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}

@media (max-width:1200px){
    .OurPrinciples-container{
        justify-content: center;
        align-items: center;
    
    }

    .OurPrinciplesBoxs{
        justify-content: center;
    }

    .OurPrinciplesBox{
        padding: 40px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}
@media (max-width:992px){
    .OurPrinciples-container{
        justify-content: center;
        align-items: center;
    
    }

    .OurPrinciplesBoxs{
        justify-content: center;
    }

    .OurPrinciplesBox{
        padding: 40px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}


@media (max-width:768px){
    .OurPrinciples-container{
        justify-content: center;
        align-items: center;
    
    }

    .OurPrinciplesBoxs{
        justify-content: center;
    }

    .OurPrinciplesBox{
        padding: 40px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}
@media (max-width:576px){
    .OurPrinciples-container{
        justify-content: center;
        align-items: center;
    
    }

    .OurPrinciplesBoxs{
        justify-content: center;
    }

    .OurPrinciplesBox{
        padding: 40px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}

@media (max-width:360px){
    .OurPrinciples-container{
        padding: 30px;
    
    }

    .OurPrinciplesBox{
        padding: 20px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}