@tailwind base;
@tailwind components;
@tailwind utilities;



@media (max-width:1400px){
    .OurPrinciples-container{
        justify-content: center;
        align-items: center;
    
    }

    .OurPrinciplesBoxs{
        justify-content: center !important;
    }

    .OurPrinciplesBox{
        max-width: 400px;
        padding: 40px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}

@media (max-width:1200px){
    .OurPrinciples-container{
        justify-content: center;
        align-items: center;
    
    }

    .OurPrinciplesBoxs{
        justify-content: center !important;
    }

    .OurPrinciplesBox{
        max-width: 400px;
        padding: 40px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}
@media (max-width:992px){
    .OurPrinciples-container{
        justify-content: center;
        align-items: center;
    
    }

    .OurPrinciplesBoxs{
        justify-content: center !important;
    }

    .OurPrinciplesBox{
        max-width: 300px !important;
        padding: 40px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}


@media (max-width:768px){
    .OurPrinciples-container{
        justify-content: center;
        align-items: center;
    
    }

    .OurPrinciples-container h1{
        font-size: 30px;
    }

    .OurPrinciplesBoxs{
        justify-content: center !important;
    }

    .OurPrinciplesBox{
        max-width: 250px !important;
        padding: 20px !important;
        border-radius: 10px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}
@media (max-width:576px){

    .OurPrinciplesBoxs{
        justify-content: center !important;
    }

    .OurPrinciplesBox{
        padding: 40px;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}

@media (max-width:360px){
    .OurPrinciples-container{
        padding: 30px !important;
    
    }

    .OurPrinciplesBox{
        padding: 20px !important;
    }

    .OurPrinciplesBox .ImgIcon{
        left: 0px;
        max-width: 70px;
    }
}